<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Profile</title>
</head>
<body>
    <h1>Welcome to profile!!!</h1>  
    <p>
        Name: <%= name %>
        <br>
        Location: <%= profile.Location %>
        <br>
        Time: <%= profile.Time>
    </p>
</body>
</html>